@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1140px;
}

header {
  background-color: #8A817C;
}

header > .container > h1 {
  padding-top: 20px;
}

header > .container > h1 > a {
  color: #F4F3EE;
}

header > .container > nav > ul {
  display: flex;
  /*justify-content: space-between;*/
}

header > .container > nav > ul > li {
  margin-right: 30px;
}

header > .container > nav > ul > li > a {
  line-height: 60px;
  color: #F4F3EE;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.img-circle {
  border-radius: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

h2 {
  color: #8A817C;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.img-circle {
  border-radius: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

.col-3 {
  width: calc(100% / 4 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.col-4 {
  width: calc(100% / 3 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.col-6 {
  width: calc(100% / 2 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.title a {
  color: black;
  font-size: 1.5em;
  font-weight: 700;
}

.date {
  color: #F4F3EE;
}

h2 {
  font-size: 2em;
  margin: 60px auto 30px aut0;
}

footer {
  background: #8A817C;
  padding: 40px 0 40px 0;
}

dt {
  margin-bottom: 4px;
}

dd > a {
  color: #F4F3EE;
}

.pdc {
  color: #e46622;
}

.pdc2 {
  color: #ad6b47;
}

.breadcrumb {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.breadcrumb a {
  color: #493a33;
}