@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  text-align: center;
}

body {
  margin: 0;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1140px;
}

header {
  background-color: #8A817C;
}

header > .container > h1 {
  padding-top: 20px;
}

header > .container > h1 > a {
  color: #F4F3EE;
}

header > .container > nav > ul {
  display: flex;
  /*justify-content: space-between;*/
}

header > .container > nav > ul > li {
  margin-right: 30px;
}

header > .container > nav > ul > li > a {
  line-height: 60px;
  color: #F4F3EE;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.img-circle {
  border-radius: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

h2 {
  color: #8A817C;
}

.col-3 {
  width: calc(100% / 4 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.col-4 {
  width: calc(100% / 3 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.col-6 {
  width: calc(100% / 2 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.col-8 {
  width: calc(100% / 1.5 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.col-9 {
  width: calc(100% / 1.33333333 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.col-12 {
  width: calc(100% / 1 - 30px);
  margin: 0px 15px 40px 15px;
  /*上右下左*/
}

.title a {
  color: black;
  font-size: 1.5em;
  font-weight: 700;
}

.date {
  color: #F4F3EE;
}

h2 {
  font-size: 2em;
  margin: 60px auto 30px aut0;
}

footer {
  background: #8A817C;
  padding: 40px 0 40px 0;
}

dt {
  font-size: 1.2em;
  margin-bottom: 10px;
}

dd {
  margin-bottom: 4px;
}

dd > a {
  color: #F4F3EE;
}

.breadcrumb {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.breadcrumb a {
  color: #493a33;
}

.w-20 {
  width: 20%;
}

.w-80 {
  width: 80%;
}

.btn-primary {
  background-color: #F4F3EE;
  padding: 15px;
  color: #493a33;
  display: block;
  margin-bottom: 5px;
  border-radius: 4px;
  text-align: center;
}

.btn-primary {
  background-color: #F4F3EE;
  color: #493a33;
}

.text-primary {
  color: #493a33;
}

.img-wrap {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.img-overlay {
  overflow: hidden;
  border-radius: 8px;
}

.img-wrap img {
  vertical-align: top;
  transition: all 0.5s;
}

.img-wrap img:hover {
  transform: scale(1.5);
}

.icon-new {
  position: absolute;
  width: 50px;
  line-height: 50px;
  color: #F4F3EE;
  border-radius: 100%;
  background-color: #528b50;
  left: -25px;
  top: -25px;
}

@media (max-width: 767px) {
  h1 {
    float: left;
  }

  .icon-menu {
    float: right;
    width: 15%;
    display: block;
    background-color: #363535;
    color: #fff;
    line-height: 60px;
    text-align: center;
  }

  header > .container > nav {
    width: 100%;
    float: left;
    display: none;
  }

  header > .container > nav.active {
    display: block;
  }

  header > .container > nav > ul {
    display: block;
  }

  header > .container > nav > ul > li {
    text-align: center;
    width: 100%;
  }

  .overflow-hidden {
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}