doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Ruhui's Portfolio
    link(rel='stylesheet' href='public/css/style.css')
  body
    // header>.container>h1>{ruhui's portfolio}+nav>ul>li*4>a[href="#"]{文字}
    header
      .container
        .row.flex-space-between
          h1
            a(href='index.html') ruhui's portfolio
          a.icon-menu(href="#") menu 
          nav
            ul
              li
                a(href='about-us.html') 關於我
              li
                a(href='#') 平面作品
                ul.submenu 
                  li 
                    a(href="design-list.html") 品牌設計
                  li 
                    a(href="design-list.html") 包裝設計
              li
                a(href='#') 網頁設計
                ul.submenu 
                  li 
                    a(href="web-design-list.html") 品牌設計
                  li 
                    a(href="web-design-list.html") 包裝設計
              li
                a(href='contact-us.html') 聯絡我
// haeder end
//img src="images/images1.jpg" class="img-fluid" alt="" width="1920" height="480"
// content start
// .container>h1{最新作品一覽}＋.row>.col-md-4*6>img.img-fluid+p.tittle>a[href="#"]{標題$}^+p.date
// .container>h1{最新作品一覽}+.row>.col-md-4*6>img.img-fluid+p.title>a[href="#"]{標題$}^p.date{內容}
.container
  h2.text-center 最新作品一覽
  .row
    // .col-md-4*7>a>img[src="images/images2.jpg" class="img-fluid img-rounded"]^p.title.text-center>a{作品標題$}^p.date.text-center{2022-6-15}
    .col-6.col-mb-4.col-lg-3
      a(href='#')
        img.img-fluid.img-rounded(src='images/images2.jpg' alt='')
      p.title.text-center
        a(href='#') 作品標題1
      p.date.text-center 2022-6-15
    .col-6.col-mb-4.col-lg-3
      a(href='#')
        img.img-fluid.img-rounded(src='images/images2.jpg' alt='')
      p.title.text-center
        a(href='#') 作品標題2
      p.date.text-center 2022-6-15
    .col-6.col-mb-4.col-lg-3
      a(href='#')
        img.img-fluid.img-rounded(src='images/images2.jpg' alt='')
      p.title.text-center
        a(href='#') 作品標題3
      p.date.text-center 2022-6-15
    .col-6.col-mb-4.col-lg-3
      a(href='#')
        img.img-fluid.img-rounded(src='images/images2.jpg' alt='')
      p.title.text-center
        a(href='#') 作品標題4
      p.date.text-center 2022-6-15
    .col-6.col-mb-4.col-lg-3
      a(href='#')
        img.img-fluid.img-rounded(src='images/images2.jpg' alt='')
      p.title.text-center
        a(href='#') 作品標題5
      p.date.text-center 2022-6-15
    // content end
    // footer>.container>.row>dl.col-md-3*5>dt{標題$$}+dd*4>a{項目$$}^^p.copyright.text-center{copyright}
footer
  .container
    .row
      dl.col-12.col-md-3
        dt 標題01
        dd
          a(href='#') 項目01
        dd
          a(href='#') 項目02
        dd
          a(href='#') 項目03
        dd
          a(href='#') 項目04
      dl.col-12.col-md-3
        dt 標題02
        dd
          a(href='#') 項目01
        dd
          a(href='#') 項目02
        dd
          a(href='#') 項目03
        dd
          a(href='#') 項目04
      dl.col-12.col-md-3
        dt 標題03
        dd
          a(href='#') 項目01
        dd
          a(href='#') 項目02
        dd
          a(href='#') 項目03
        dd
          a(href='#') 項目04
      dl.col-12.col-md-3
        dt 標題04
        dd
          a(href='#') 項目01
        dd
          a(href='#') 項目02
        dd
          a(href='#') 項目03
        dd
          a(href='#') 項目04
    p.text-center 本站僅供學習使用，不用於商業用途